@import url('https://fonts.googleapis.com/css2?family=Inter:wght@900&display=swap');

.main-allMovies {
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.85);
    font-family: 'Inter', sans-serif;
    font-weight: 900;
    color: #FFFFFF;
    font-size: 1.3rem;
}

.container-content {
    width: 100%;
    height: auto;
}

.content-title {
    width: 100%;
    height: 8vh;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.content-title div {
    width: 15%;
    display: flex;
    justify-content: space-between;
}

.content-img {
    width: 100%;
    min-height: 95%;
    padding-top: 1.2rem;
    display: flex;
    justify-content: center;
}

.img-allmovies div {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    width: 100%;
    justify-content: center;
}

.content-pagination {
    width: 100%;
    height: 8vh;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.pagination {
    width: 20vw;
    height: 5vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.pagination button {
    width: 6vw;
    height: 4.5vh;
    border-radius: 0.3rem;
    cursor: pointer;
    transition: transform 0.3s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(217, 217, 217, 0.5);
    margin-left: .1rem;
    margin-right: .1rem;
}

.pagination button:hover {
    transform: scale(1.1);
    background: rgba(255, 255, 255, .85);

}

.pagination span {
    font-size: 1.1rem;
    font-weight: normal;
}