@import url('https://fonts.googleapis.com/css2?family=Inter:wght@900&display=swap');

.main-movie {
    width: 100%;
    height: 103vh;
    background-color: rgba(0, 0, 0, 0.85);
    font-family: 'Inter', sans-serif;
    font-weight: 900;
    color: #FFFFFF;
}

.container-video {
    width: 100%;
    height: 42vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-video-mobile {
    display: none;
}

.container-about {
    width: 100%;
}

.title {
    width: 100%;
    height: 7vh;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    font-size: 1.4rem;
    margin-bottom: 1rem;
}

.container-description {
    display: flex;
    width: 100%;
    height: 38vh;
    align-items: center;
    justify-content: center;
}

.container-description div {
    display: flex;
    align-items: center;
    gap: 2rem;
    padding-left: 2rem;
}

.container-description div p {
    width: 75%;
    text-align: center;
    font-size: 1.2rem;
}

.container-where-to-watch {
    width: 95%;
    height: 12vh;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    font-size: 1.4rem;
}

.where-to-watch {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 15vw;
    gap: 0.5rem;
}

.where-to-watch div {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}

.where-to-watch span {
    width: 15vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.description {
    display: none;
}

.film-cover-where-to-watch {
    display: none;
}