@media screen and (max-width: 450px) {
    .main-movie {
        height: auto;
    }

    .container-video {
        display: none;
    }

    .container-video-mobile {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 40vh;
        margin-bottom: 2rem;
    }

    .container-about {
        width: 100%;
        height: 65%;
        display: flex;
    }

    .title {
        width: 100%;
        display: flex;
        justify-self: center;
        align-content: center;
    }

    .title span {
        text-align: center;
        font-size: 1.2rem;
    }

    .container-description {
        display: none;
    }

    .description {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 1rem;
        font-size: 1rem;
        padding-top: 1rem;
    }

    .description p {
        width: 90%;
        text-align: center;
    }

    .film-cover-where-to-watch {
        display: flex;
        justify-content: space-between;
        padding: 2rem;
    }

    .where-to-watch {
        width: 50%;
    }

    .where-to-watch span {
        width: 100%;
    }

    .where-to-watch div {
        width: 50%;
        display: flex;
    }

    .container-where-to-watch {
        display: none;
    }
}