.box {
    width: 96%;
    height: 45%;
}

.year {
    font-size: 1.8rem;
    width: 10%;
    display: flex;
    justify-content: center;
}

.moveseries-img {
    width: 73.5vw;
    height: 26.4vh;
    display: flex;
    align-items: flex-end;
    gap: 0.7rem;
}

.seeall {
    height: 15vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.seeall button {
    width: 3vw;
    height: 3vw;
    background-color: rgba(217, 217, 217, 0.5);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 2px 8px #161111;
    transition: background 0.2s, transform 0.2s;
    cursor: pointer;
    border: none;
}
.seeall button:hover {
    background: rgba(217, 217, 217, 0.5);
    transform: scale(1.08);
}

.seeall span {
    font-size: 0.5rem;
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
}

@media screen and (max-width: 450px) {
    .year {
        font-size: 1.8rem;
        width: 30%;
        padding-top: 1rem;
        padding-bottom: 0.8rem;
    }

    .box {
        width: 100%;
        padding-top: 1rem;
    }

    .moveseries-img {
        width: 98vw;
        height: 26.4vh;
        display: flex;
        gap: 0rem;
        display: flex;
        justify-content: space-between;
        padding-left: 1rem;
    }

    .seeall {
        height: 5vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .seeall button {
        width: 10vw;
        height: 10vw;
        background-color: rgba(217, 217, 217, 0.5);
        border-radius: 50%;
    }

    .seeall span {
        font-size: .5rem;
        text-align: center;
        font-family: 'Inter', sans-serif;
        font-weight: 700;
    }
}